.ReqDialog{
    height: 30rem;
    overflow: hidden;
}

.ReqDialog .Heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.ReqDialog .Body{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.ReqDialog .Body .RequestTile{
    display: flex;
    border: 0.5px solid #ccc;
    border-left: none;
    border-right: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.ReqDialog .Body .RequestTile .Buttons .Icons{
    margin:0 0.5rem;
}
.ReqDialog .Body .RequestTile .Buttons .Icons:hover{
    background-color: #ccc;
}